@charset "utf-8";
/* --------------------------------------------
reset
-------------------------------------------- */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	color: #444;
	font-size: 15px;
	font-family: "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro", "Montserrat", sans-serif;
}

.content {
	width: 86%;
	margin: 0 auto;
	padding: 1.2rem;
}
.content article {
	border-bottom: 1px solid #eee;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}
pre {
	color: #666;
	background-color: #eee;
	position: relative;
	padding: 0.5rem;
	overflow: auto;
}
pre strong {
	color: #b76fb3;
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
}
@media screen and (max-width: 414px) {
	.content {
		width: 98%;
	}
	pre strong {
		display: block;
		position: relative;
		right: auto;
		top: auto;
	}
}
