@charset "utf-8";
/* --------------------------------------------
reset
-------------------------------------------- */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	color: #333;
	font-size: 15px;
	font-family: "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro", "Montserrat", sans-serif;
}

.content {
	background-color: #eee;
	width: 60%;
	margin: 0 auto;
	padding-left: 0.1rem;
}
